body{
    font-family: "Montserrat",sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 20px;
}

.header-link{
    text-decoration: none;
    color: black;
    font-size: 30px;
    border-radius: 5px;
}

.header-link:hover{
    background-color: blue;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main{
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.main-img{
    display: block;
    margin: 0 auto;
    width: 600px;
}